{% if post_recent %}

  <article class="post archive-{{ post.post_type }}-item">
    <div class="archive-item-inner">
      {% if display_post_image and post.thumbnail %}
      <div class="post-picture">
        <a href="{{ post.link }}"><img src="{{ post.thumbnail.src|resize(295, 180) }}" class="feature" /></a>
      </div>
      {% endif %}
      <div class="post-content">
        <h3 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h3>

        {% if display_post_desc and post.post_excerpt %}
        <div class="post-excerpt">{{ post.post_excerpt|excerpt(30) }}</div>
        {% endif %}

        {% if display_post_read_more %}
        <div class="post-read-more"><a class="post-link" href="{{ post.link }}">{{ __('Read more', 'custom_theme') }} <i class="fas fa-angle-double-right post-link-icon"></i></a></div>
        {% endif %}
      </div>
    </div>
  </article>

{% else %}

  <article class="{% if block_slide %}slide-item{% else %}col-sm-6 col-md-4 col-lg-3{% endif %} post archive-{{ post.post_type }}-item" data-post-id="{{ post.ID }}">
    <div class="archive-item-inner">
      {% if post.thumbnail %}
      <div class="post-picture">
        <a href="{{ post.link }}"><img src="{{ post.thumbnail.src|resize(295, 180) }}" class="feature" /></a>
      </div>
      {% endif %}
      <div class="post-content">
        <h3 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h3>

        {% if post.post_excerpt %}
        <div class="post-excerpt">{{ post.post_excerpt|excerpt(30) }}</div>
        {% endif %}

        <div class="post-read-more"><a class="post-link" href="{{ post.link }}">{{ __('Read more', 'custom_theme') }} <i class="fas fa-angle-double-right post-link-icon"></i></a></div>
      </div>
    </div>
  </article>

{% endif %}