{% extends 'layout.twig' %}

{% block schema %}
  {% include 'schema.twig' %}
{% endblock %}

{% block feature %}
  <div id="feature" class="feature-wrapper">
    <div class="feature-media"></div>

    <div class="container">
      <div class="group-title">
        <h1 id="page-title">{{ __('Search','custom_theme') }}</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="breadcrumb-wrapper animation-element" data-animate="fadeIn">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ site.url }}">{{ __('home', 'custom_theme') }}</a>
      </li>

      <li class="breadcrumb-item active" aria-current="page">
        {{ fn('get_search_query') }}
      </li>
    </ol>
</div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <div class="main-content-inner">
    {% include 'searchform.twig' %}

    <div class="search-result">
      {% if posts %}
        {% for post in posts %}
          <div class="search-result__item">
            <h3 class="search-result__title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
            <div class="search-result__text">{{post.content|excerpt(30)}}</div>
          </div>
        {% endfor %}
      {% else %}
        <p>{{ __('Sorry, no results were found!', 'custom_theme') }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
