{% if fn('is_front_page') %}
<h1 id="page-title" class="hidden-page-title">{{ post.title }}</h1>
{% else %}
<div id="feature" class="feature-wrapper">
  {#<div class="feature-media parallax-window" data-parallax="scroll" data-image-src="{{ post.thumbnail.src }}" title="{{ post.thumbnail.title|replace({'-': ' ', '_': ' '}) }}" data-speed="1.0"></div>#}
  <div class="feature-media">
    {% if fn('is_singular', 'product') %}
      <img class="paralax-image" src="{{ post.get_field('feature_image').url }}" alt="image">
    {% else %}
      <img class="paralax-image" src="{{ post.thumbnail.src }}" alt="image">
    {% endif %}
  </div>
  <div class="container">

    <div class="group-title">
    {% if fn('is_page') or fn('is_home') %}
      {% if title_option != "on" %}
        <h1 id="page-title">{{ post.title }}</h1>
      {% endif %}


    {% elseif fn('is_singular', 'post') %}
      {% if fn('get_option', 'page_for_posts') != 0 %}
        {% set blog_posts_id = fn('get_option', 'page_for_posts') %}
        <h2 id="page-title">{{ fn('get_the_title', blog_posts_id) }}</h2>
        <div class="block-header-description">
          {{ fn('get_field', 'page_excerpt', blog_posts_id) }}
        </div>
      {% else %}
        {% set term_name = fn('get_the_category', post.ID)[0].name %}
        {% set term_id = fn('get_the_category', post.ID)[0].term_id %}

        <h2 id="page-title">{{ term_name }}</h2>
        <div class="block-header-description">
          {{ fn('term_description', term_id) }}
        </div>
      {% endif %}
    {% elseif fn('is_singular', 'product') %}
      {% set page_shop_id = fn('get_option', 'woocommerce_shop_page_id') %}
      <h1 id="page-title">{{ fn('get_the_title', page_shop_id) }}</h1>
      <div class="block-header-description">
        {{ fn('get_field', 'page_excerpt', page_shop_id) }}
      </div>
    {% elseif fn('is_product_category') %}
      {% set term_name = category.name %}
      {% set term_id = category.term_id %}

      <h1 id="page-title">{{ term_name }}</h1>
      <div class="block-header-description">
        {{ fn('term_description', term_id) }}
      </div>
    {% else %}
      <h1 id="page-title">{{ post.title }}</h1>
    {% endif %}
    </div>

  </div>
</div>
{% endif %}