{% block header %}
  <header id="header" class="header-wrapper">
    <div class="header-top">
      <div class="container">
        <div class="header-top-inner">
          {{ fn('sidebar', 'header-top') }}
        </div>
      </div>
    </div>

    <div class="header-nav">
      <div class="container">
        <div class="header-nav-inner">
          <div class="header-logo logo-mobile">
            <a href="{{ site.url }}" class="logo">
              <img alt="{{ site.name }}" src="{{ site_logo }}" alt="{{ site.name }}">
            </a>
          </div>

          {% block navigation %}
            <div class="block-navigation">
              <div id="nav-icon3" class="js-toogle--menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              {% include 'navigation.twig' %}
            </div>
          {% endblock %}
        </div>
      </div>
    </div>

    {#% if global_ppl %}
    {% include 'custom-ppl.twig' %}
    {% endif %#}
  </header>
{% endblock %}
